<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script><script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="mx-auto w-2/3">
        <a href="{{url_for('dashboard')}}">Dashboard</a>
        <h1 class="text-5xl font-bold">Borrowed Book</h1>
        <div class="flex justify-center text-center space-x-1">
            {% for note in borrowed_notes %}
                <div>
                    <img src="{{url_for('static', filename='uploads/' + note.image_filename)}}" alt="Current Image" class="w-80 h-auto">
                    <a class="underline" href="{{url_for('detail', note_id=note.note_id)}}">{{note.title}}</a>
                    <p>{{note.price}}</p>
                    <p>{{note.description}}</p>

                    {% if note.status == 'LENT' %}
                    <form action="{{ url_for('borrowed.return_borrowed', note_id = note.note_id) }}" method="POST">
                        <label for="returned">Click below if you have returned this book</label>
                        <input name="returned" class="cursor-pointer" type="submit" value="Book Returned">
                    </form>
                    
                    {% elif note.status == 'NEED ACTION' %}
                        <p>This note has been tagged as returned!</p>
                    {% endif %}
                </div>

            {% endfor %}
            
        </div>
    </div>

</body>
</html>