{% import 'components/macros.html' as comp %}
{% import 'components/search_bar.html' as sb %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={}, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Explore</title>
</head>
<body class="max-w-7xl mx-auto mt-10">
    {% include '/components/bg.html' %}
    {% include '/components/navbar.html' %}
    
    {{sb.search_bar(user_input, condition, availability, sort_by, price_type, min_price, max_price)}}
    <div class="grid grid-cols-4 gap-6">
        {% for note in notes %}
            {{ comp.explore_card(note, user_id, cart_note_ids, watchlisted_note_ids) }}
        {% endfor %}
    </div>

</body>
</html>