<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={}, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script><script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Explore</title>
</head>
<body>
    {% with messagges = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p><strong>{{ category }}:</strong> {{ message }}</p>
            {% endfor %}
        {%endif%}
    {% endwith %}
    <ul class="flex justify-center-safe text-center space-x-10">
        <li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
        <li><a href="{{url_for('borrowed.show_borrowed')}}">See Borrowed book</a></li>
        <li><a href="{{url_for('history')}}">See History</a></li>
        <li><a href="{{url_for('watchlist')}}">See Watchlist</a></li>
        <li><a href="{{url_for('shopping_cart.user_cart')}}">See Cart</a></li>
        <form action='/search' method="get">
            <input type="text" name="user_input" value="{{user_input}}">  
            <input type="submit" value="Search"><br><br>
        </form>
    </ul>

    <div class="flex justify-center text-center space-x-1">
        {% for note in notes %}
            <div>
                <img src="{{url_for('static', filename='uploads/' + note.image_filename)}}" alt="Current Image" class="w-80 h-auto">
                <a class="underline" href="{{url_for('detail', note_id=note.note_id)}}">{{note.title}}</a>
                <p>{{note.price}}</p>
                <p>{{note.description}}</p>
                {% if note.note_id not in watchlisted_note_ids %}
                    <form action="{{ url_for('watchlist.add_watchlist', note_id=note.note_id) }}" method="POST">
                        <button type="submit">Add to watchlist</button>
                    </form>
                {% else %}
                    <p>Already in your watchlist</p>
                {% endif %}

                <!-- check if user cart have this note id. note.note_id == user_cart -->
                {% if cart_note_ids and note.note_id in cart_note_ids %}
                    <p class="text-green-600 font-semibold">Added to cart ✓</p>
                {% else %}
                    <p class="text-gray-500">Not in cart</p>
                {% endif %}

                {% if note.owner_id == user_id%}
                    <p>This is your book or note</p>
                {% endif %}
                    
            </div>
        {% endfor %}
    </div>
</body>
</html>