{% import 'components/macros.html' as comp %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={}, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Explore</title>
</head>
<body class="max-w-7xl mx-auto mt-10">

    {% include '/components/navbar.html' %}
    <h1 class="text-3xl font-bold mb-2">Explore</h1>
    <p class="text-gray-600 mb-8">Browse through notes and books</p>
    <div class="grid grid-cols-4 gap-6">
        {% for note in notes %}
            {{ comp.explore_card(note, user_id, cart_note_ids, watchlisted_note_ids) }}
        {% endfor %}
    </div>

</body>
</html>