<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <link rel="stylesheet" href="../static/output.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <h1 class="text-7xl">Welcome, {{ user_name }}!</h1>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p><strong>{{ category }}:</strong> {{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <p>Your email: {{ email }}</p>
    
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>