<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{{ 'Update' if action == 'notes.update_note' else 'Add' }} Note</title>
</head>
<body>
    <h2>{{ 'Update Note' if action == 'notes.update_note' else 'Add Note'}}</h2>
    {% if error %}
        <p>{{error}}</p>
    {% endif %}
    <form method="POST" action="{{ url_for(action, note_id=note.note_id if note else None)}}" enctype="multipart/form-data">

        <label for="image">Note Image: </label><br>
        <input type="file" id="image" name="image" accept="image/*" onchange="previewImage(event)"><br>

        <img class="hidden" id="imagePreview" alt="Image preview">

        {% if note and note.image_filename %}
            <img src="{{url_for('static', filename='uploads/' + note.image_filename)}}" alt="Current Image"><br>
        {% endif %}

        <label for="title">Title</label><br>
        <input type="text" id="title" name="title" required value="{{ note.title if note else '' }}"><br><br>

        <label for="isbn">ISBN</label><br>
        <input type="text" id="isbn" name="isbn" required value="{{ note.isbn if note else '' }}"><br><br>

        <label for="listing_type">Listing Type</label><br>
        <select name="listing_type" id="listing_type" required>
            <option value="RENTAL" {% if note and note.listing_type=='RENTAL' %}selected{% endif %}>Rental</option>
            <option value="SALE" {%if note and note.listing_type=='SALE' %}selected{% endif %}>Sale</option>
            <option value="BOTH" {%if note and note.listing_type=='BOTH' %}selected{% endif %}>Both</option>
        </select><br>

        <div id="price_container">
            <label for="price">Price (per week)</label><br>
            <input type="number" step="0.01" id="price" name="price" required value="{{ note.price if note else '' }}"> <br>
        </div>

        <div id="price_sale_container" style="display:none">
            <label for="price">Price (per sale)</label><br>
            <input type="number" step="0.01" id="price_sale" name="price_sale" required value="{{note.price_sale if note else ''}}"> <br>
        </div>

        <label for="description">Description</label><br>
        <textarea id="description" name="description">{{ note.description if note else '' }}</textarea><br><br>

        <label for="condition">Condition</label><br>
        <select name="condition" id="condition" required>
            <option value="MINIMUM" {% if note and note.condition =='MINIMUM' %}selected{%endif%}>Minimum</option>
            <option value="GOOD" {% if note and note.condition =='GOOD' %}selected{%endif%}>Good</option>
            <option value="BRAND NEW" {% if note and note.condition =='BRAND NEW' %}selected{%endif%}>Brand New</option>
        </select><br><br>

        <label for="pickup_location">Pickup Location</label><br>
        <input type="text" id="pickup_location" name="pickup_location" required value="{{ note.pickup_location if note else '' }}"><br><br>

        <label for="available_date">Available Date</label><br>
        <input type="date" id="available_date" name="available_date" required value="{{ note.available_date.strftime('%Y-%m-%d') if note else '' }}"><br><br>

        <label for="status">Status</label><br>
        <select name="status" id="status">
            <option value="AVAILABLE" {% if note and note.status=='AVAILABLE' %}selected{% endif %}>Available</option>
            <option value="HIDDEN" {% if note and note.status=='HIDDEN' %}selected{% endif %}>Hidden</option>
        </select><br><br>

        <label for="tags">Tags (Comma separated)</label><br>
        <input type="text" id="tags" name="tags" value="{{note.tags|map(attribute='name')|join(', ') if note.tags}}"><br><br>

        <button type="submit">{{ 'Update Note' if action == 'notes.update_note' else 'Add Note' }}</button>
    </form>

    <script>
        function previewImage(event){
            const input = event.target;
            const preview = document.getElementById('imagePreview');
            if (input.files && input.files[0]){
                const reader = new FileReader()

                reader.onload = function(e){
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                }

                reader.readAsDataURL(input.files[0])
            } else{
                preview.style.display = 'none';
            }
        }

        // HANDLE PRICE PER WEEK OR PRICE PER SALE
        const listingType = document.getElementById('listing_type');
        const price = document.getElementById('price_container');
        const priceSale = document.getElementById('price_sale_container');
        listingType.addEventListener('change', (event) => {
            const value = event.target.value;

            if (value === 'RENTAL'){
                priceSale.style.display = 'none';
                price.style.display = 'block';
            } else if (value === 'SALE'){
                price.style.display = 'none';
                priceSale.style.display = 'block';
            } else if (value == 'BOTH'){
                price.style.display = 'block';
                priceSale.style.display = 'block';
            }
        })

    </script>
</body>
</html>