<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Search</h1>
    <form action='/search' method="get">
        <input type="text" name="user_input" value="{{user_input}}">  
        <input type="submit" value="Search"><br><br>

        <label>Condition:</label>
        <select name="condition">
            <option value="">==Select==</option>
            <option value="Brand New">Brand New</option>
            <option value="Good">Good</option>
            <option value="Minimum">Minimum</option>
        
        </select><br>

        <label>Min. Price</label>
        <input type="number" name="min_price">

        <label>Max. Price</label>
        <input type="number" name="max_price">
    </form>
    <p> User Input: {{ user_input }}</p>
    <p> Condition: {{ condition }}</p>
    
        {% if results %}
            <div class="flex justify-center text-center space-y-1">
                {% for note in results %}
                <div class="justify-center items-center bg-gray-100">
                   
                    <img src="{{url_for('static',filename='uploads/'+note.image_filename)}} "alt="Current Image" class="w-80 min-h-90"><br>
                    Note ID: {{note.note_id}}<br>
                    Title: {{note.title}}<br>
                    Description: {{note.description}}<br>
                    <br>
                    Price: ${{note.price}}
                </div>
                {% endfor %}
            </div>
            {% else %}
                <li>Not Found</li>
            
            
        
        {% endif %}
    
</body>
</html>