{% import 'components/search_bar.html' as sb %}
{% import 'components/macros.html' as comp %}
{% import 'components/pop_up_message.html' as pop_up %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search - Library System</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    {% include '/components/navbar.html' %}
    {% include '/components/bg.html' %}
    {{pop_up.pop_up_message()}}

    {{sb.search_bar(user_input, condition, availability, sort_by, price_type, min_price, max_price)}}
    <!-- Results Section -->
    <div>
        {% if results %}
        <div class="mb-4">
            <p class="text-gray-600 mt-1 mx-50">Found {{ results|length }} {{"book" if results|length == 1 else "books"}}</p>
        </div>

        <div class="grid grid-cols-4 gap-8 mx-50">
            
            {% for result in results %}
                {{ comp.explore_card(result, user_id, cart_note_ids, watchlisted_note_ids) }}
            {% endfor %}
            
        </div>
    {% else %}
        <div class="flex flex-col items-center justify-center py-20">
            <svg class="w-32 h-32 text-gray-300 mb-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path>
            </svg>
            <h2 class="text-2xl font-bold text-gray-700 mb-3">No Books Found</h2>
            <p class="text-gray-500 mb-8 text-center max-w-md">
                Try adjusting your search filters or search input
            </p>
        </div>
    {% endif %}
    </div>
        
    
</body>
</html>