<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Search</h1>
    <form action='/search' method="get">
        <input type="text" name="user_input" value="{{user_input}}">  
        <input type="submit" value="Search"><br><br>

        <label>Condition:</label>
        <select name="condition">
            <option value="">==Select==</option>
            <option value="Brand New">Brand New</option>
            <option value="Good">Good</option>
            <option value="Minimum">Minimum</option>
        
        </select><br>

        <label>Min. Price</label>
        <input type="number" name="min_price">

        <label>Max. Price</label>
        <input type="number" name="max_price">
    </form>
    <p> User Input: {{ user_input }}</p>
    <p> Condition: {{ condition }}</p>
    
        {% if results %}
            <ul>
                {% for result in results %}
                <li>{{ result }}</li>
                {% endfor %}
                
            {% else %}
                <li>Not Found</li>
            
            </ul>
        
        {% endif %}
    
</body>
</html>