<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script><script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <h1 class="text-center font-bold m-5">User Cart </h1>
    <div  class="flex justify-center text-center space-x-1">
        {% if items %}
            {% for item in items%}
                <div class="justify-center items-center bg-gray-100">
                    <a href="/remove_item/{{item.note_details.note_id}}">X</a>
                    <img src="{{url_for('static',filename='uploads/'+item.note_details.image_filename)}} "alt="Current Image" class="w-80 min-h-90">
                    Note ID: {{item.note_details.note_id}}<br>
                    Title: {{item.note_details.title}}<br>
                    Price: {{item.note_details.price}}<br>
                    Description: {{item.note_details.description}}<br>
                    Buying Type: {{item.buying_type}}<br>
                    {% if item.buying_type == 'BORROW' %}
                        Start Date: {{item.start_date}}
                        End Date: {{item.end_date}}
                    {% endif %}
                    <br>
                    Price: ${{item.note_details.price}}
                </div>
            {% endfor %}
                <div>
                    Checkout Summary:<br>
                    Total: ${{total_price}}<br>
                    Discount:<br>
                    Delivery fees: 
                    <form action="{{url_for('shopping_cart.checkout')}}" method="POST">
                        <input type="submit" name="submit" value="Checkout" class="cursor-pointer">
                    </form>
                </div>
            {% else %}
                <div>
                    <label class="font-bold">Nothing</label>
                </div>
        {% endif %}
    </div>
    
   
    
    <a href="/dashboard">Dashboard</a>
</body>
</html>