{% set current_path = request.path %}

<div class="space-y-8">
    {% for date, items in history_buyer.items() %}
        <!-- Date Header -->
        <div>
            <h2 class="font-bold text-2xl mb-4">{{date}}</h2>

            <!-- Cards Grid -->
            <div class="grid grid-cols-4 gap-6">
                {% for item in items%}
                <div class="rounder-lg shadow-md overflow-hidden hover:shadow-lg transition-shadow flex flex-col h-full">

                    <!-- Image and badge -->
                    <div class="relative h-100 bg-gray-100 shrink-0">
                        <img src="{{url_for('static', filename='uploads/' + item['note'].image_filename)}}" alt="{{item['note'].title}}" class="w-full h-full object-cover">

                        <div class="absolute top-2 right-2">
                            {% if item['transaction_type'] == 'BORROW' %}
                                <span class="bg-blue-300 text-xs font-semibold px-3 py-1 rounded-full">Borrowed</span>
                            {% else %}
                            <span class="bg-green-300 text-xs font-semibold px-3 py-1 rounded-full">Bought</span>
                            {% endif %}
                        </div>
                    </div>
                    
                    <!-- Content -->
                     <div class="p-4 flex flex-col grow">
                        <a href="{{url_for('detail', note_id=item['note'].note_id)}}"
                            class="text-lg font-semibold text-gray-900 mb-1 underline hover:text-blue-600 transition-colors">{{item['note'].title}}</a>
                        <p>{{item['note'].description}}</p>
                        <p>{{item['transaction_type']}}</p>
                        {% if item['transaction_type'] == 'BORROW'%}
                            <p>Borrow start date:{{item['borrow_start_date']}}</p>
                            {% if item['transaction_date'] == None %}
                                <p>Book has not returned yet</p>
                            {% endif %}
                            <p>Return date:{{item['transaction_date']}}</p>
                        {% endif%}
                        {% if item['transaction_type'] == 'BUY' %}
                            <p>Buy date : {{item['transaction_date']}}</p>
                        {% endif %}
                        <p>${{item['total_price']}}</p>
                     </div>
                    
                </div>
                {% endfor %}
            </div>

            
    {% endfor %}

</div>